*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 0;
}

.title{
    text-transform: uppercase;
    color: gray;
    text-align: center;
    font-size: 120%;
    padding-bottom: 20px;
}

.divider{
    border-top: 2px  solid gray;
    width: 100%;
}

.button{
    background-color: #2596be;
    color: white;
}

.button:hover{
    opacity: 0.9;
}

.error{
    color: red;
    text-align: center;
    line-height: 20px;
    padding-top: 8px;
}

.login-container{
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background-color: #2596be;
}

.login-form{
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 4%;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.container{  
    width: 100%;
    height: calc(100vh);
    margin: 0;
    padding: 0;
    display: flex;
}

.side-bar{
    width: 250px;
    height: 100%;
    overflow: hidden;
    background-color: #2596be;
}

.active{
    background-color: #0f6d8c;
}

.side-bar .side-bar-item{
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 20px;
    display: block;
}

.side-bar-item:hover{
    background-color: #555;
}

.active:hover{
    background-color: #0f6d8c;
}

.main-content{
    width: calc(100% - 250px);
    height: 100%;
    background-color: white;
    background-color: lightblue;
}

.nav{
    width: 100%;
    box-shadow: 1px 2px #E7E9EB;
    background-color: aliceblue;
    float: right;
}

.nav a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 20px;
    display: inline;
    float: right;
}

.fa{
   margin-right: 10px; 
}

.fa-bars{
    float: right;
}

.content{
    width: 100%;
}

.dashboard-form{
    padding: 40px;
    margin: 0 auto;
    background-color: aliceblue;
}

hr.{
  border: 1px solid gray;
}